<a href="https://colab.research.google.com/github/Husseinmdarman/AI_core_practicals/blob/main/advanced_dataframes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Advanced Dataframes Practicals

In [1]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [66]:
import pandas as pd

salaries_dataframe = pd.read_csv("/content/Salaries (1).csv")

# Lets at some statistics of this dataframe

In [67]:
print(type(salaries_dataframe))
print(salaries_dataframe.size)
print(salaries_dataframe.count())
salaries_dataframe.head()

<class 'pandas.core.frame.DataFrame'>
8788
Id                  675
EmployeeName        676
JobTitle            676
BasePay             676
OvertimePay         676
OtherPay            676
Benefits              0
TotalPay            676
TotalPayBenefits    676
Year                676
Notes                 0
Agency              676
Status                0
dtype: int64

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,AA,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,AB,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,AC,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,AD,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,AE,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

## drop empty column

In [68]:
salaries_dataframe.drop(columns=['Benefits', 'Notes', 'Status'], inplace= True)

Question 1. How many unique jobs are there? Look at the unique method in pandas

In [69]:
salaries_dataframe['JobTitle'].nunique()

93

Question 2. Count how many people have the first name "John"

In [70]:
salaries_dataframe[salaries_dataframe['EmployeeName'].str.contains("JOHN")]['EmployeeName'].count()

35

  Question 3. Find the surname of everyone whose first name is more than 6 characters long

In [76]:
salaries_dataframe[['Firstname', 'Lastname']]= salaries_dataframe['EmployeeName'].str.split(" ", n = 1,expand = True)

In [83]:
firstname_longer_than_6_chars_df = salaries_dataframe[salaries_dataframe['Firstname'].str.len() > 6]

In [85]:
firstname_longer_than_6_chars_df[['Firstname', 'Lastname']]

       Firstname        Lastname
0      NATHANIEL            FORD
3    CHRISTOPHER           CHONG
4        PATRICK         GARDNER
8        MICHAEL          MORRIS
11      PATRICIA         JACKSON
..           ...             ...
661  CHRISTOPHER          GAUGER
662     PATRICIA             LEE
667      REBECCA             LIU
670    ELIZABETH        SALVESON
674    ELIZABETH  AGUILAR-TARCHI

[215 rows x 2 columns]

Question 4. Create a new column called "last_updated" where every value is equal to the current time (use the datetime module and format the date in ISO format).

In [86]:
from datetime import datetime

In [94]:
now = datetime.now()
current_time = now.strftime("%H:%M:%S")
salaries_dataframe['last_updated'] = current_time

Question 5. Create a new derived column called "time_ratio" in the DataFrame which is the proportion of overtime pay to base pay

The way i understood this question was that it wants to know the increase of percentage of overtime compared to base salary

In [97]:
import math

In [100]:
salaries_dataframe['time_ratio'] = (salaries_dataframe['OvertimePay'] / salaries_dataframe['BasePay']) * 100

In [104]:
salaries_dataframe['time_ratio']= salaries_dataframe['time_ratio'].apply(lambda x: math.ceil(x))

Question 6. In one line, create a new DataFrame called "new_df" which contains only people who earn more than 100K base salary

In [106]:
new_df = salaries_dataframe[salaries_dataframe['BasePay'] > 100000]

In [107]:
new_df

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,TotalPay,TotalPayBenefits,Year,Agency,Firstname,Lastname,last_updated,time_ratio
0,AA,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,567595.43,567595.43,2011,San Francisco,NATHANIEL,FORD,21:18:37,0
1,AB,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,538909.28,538909.28,2011,San Francisco,GARY,JIMENEZ,21:18:37,158
2,AC,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,335279.91,335279.91,2011,San Francisco,ALBERT,PARDINI,21:18:37,50
4,AE,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,326373.19,326373.19,2011,San Francisco,PATRICK,GARDNER,21:18:37,8
5,AF,DAVID SULLIVAN,ASSISTANT DEPUTY CHIEF II,118602.00,8601.00,189082.74,316285.74,316285.74,2011,San Francisco,DAVID,SULLIVAN,21:18:37,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
671,ZV,CHERYL ADAMS,"HEAD ATTORNEY, CIVIL AND CRIMINAL",176856.18,0.00,3537.89,180394.07,180394.07,2011,San Francisco,CHERYL,ADAMS,21:18:37,0
672,ZW,LOUISE SIMPSON,"HEAD ATTORNEY, CIVIL AND CRIMINAL",176856.18,0.00,3537.80,180393.98,180393.98,2011,San Francisco,LOUISE,SIMPSON,21:18:37,0
673,ZX,BLAKE LOEBS,"HEAD ATTORNEY, CIVIL AND CRIMINAL",176856.19,0.00,3537.75,180393.94,180393.94,2011,San Francisco,BLAKE,LOEBS,21:18:37,0
674,ZY,ELIZABETH AGUILAR-TARCHI,"HEAD ATTORNEY, CIVIL AND CRIMINAL",176856.17,0.00,3537.11,180393.28,180393.28,2011,San Francisco,ELIZABETH,AGUILAR-TARCHI,21:18:37,0
675,ZZ,JULIAN NG,SERGEANT III (POLICE DEPARTMENT),130457.76,43793.11,6061.80,180312.67,180312.67,2011,San Francisco,JULIAN,NG,21:18:37,34

Question 7. Now create a new derived column in "new_df" that is the sum of their pays, not including base salary

In [108]:
new_df['total_pay_exc_base'] = salaries_dataframe['TotalPay'] - salaries_dataframe['BasePay']

<ipython-input-108-dde4c5e766db>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['total_pay_exc_base'] = salaries_dataframe['TotalPay'] - salaries_dataframe['BasePay']

In [109]:
new_df

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,TotalPay,TotalPayBenefits,Year,Agency,Firstname,Lastname,last_updated,time_ratio,total_pay_exc_base
0,AA,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,567595.43,567595.43,2011,San Francisco,NATHANIEL,FORD,21:18:37,0,400184.25
1,AB,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,538909.28,538909.28,2011,San Francisco,GARY,JIMENEZ,21:18:37,158,382943.26
2,AC,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,335279.91,335279.91,2011,San Francisco,ALBERT,PARDINI,21:18:37,50,122540.78
4,AE,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,326373.19,326373.19,2011,San Francisco,PATRICK,GARDNER,21:18:37,8,191971.59
5,AF,DAVID SULLIVAN,ASSISTANT DEPUTY CHIEF II,118602.00,8601.00,189082.74,316285.74,316285.74,2011,San Francisco,DAVID,SULLIVAN,21:18:37,8,197683.74
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
671,ZV,CHERYL ADAMS,"HEAD ATTORNEY, CIVIL AND CRIMINAL",176856.18,0.00,3537.89,180394.07,180394.07,2011,San Francisco,CHERYL,ADAMS,21:18:37,0,3537.89
672,ZW,LOUISE SIMPSON,"HEAD ATTORNEY, CIVIL AND CRIMINAL",176856.18,0.00,3537.80,180393.98,180393.98,2011,San Francisco,LOUISE,SIMPSON,21:18:37,0,3537.80
673,ZX,BLAKE LOEBS,"HEAD ATTORNEY, CIVIL AND CRIMINAL",176856.19,0.00,3537.75,180393.94,180393.94,2011,San Francisco,BLAKE,LOEBS,21:18:37,0,3537.75
674,ZY,ELIZABETH AGUILAR-TARCHI,"HEAD ATTORNEY, CIVIL AND CRIMINAL",176856.17,0.00,3537.11,180393.28,180393.28,2011,San Francisco,ELIZABETH,AGUILAR-TARCHI,21:18:37,0,3537.11
675,ZZ,JULIAN NG,SERGEANT III (POLICE DEPARTMENT),130457.76,43793.11,6061.80,180312.67,180312.67,2011,San Francisco,JULIAN,NG,21:18:37,34,49854.91