<a href="https://colab.research.google.com/github/Husseinmdarman/AI_core_practicals/blob/main/Datacleaning_with_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [95]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [96]:
import pandas as pd

In [97]:
car_insurance_dataframe = pd.read_csv('/content/Car_Insurance.csv')

In [98]:
car_insurance_dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 0 to 3999
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Id                4000 non-null   int64
 1   Age               4000 non-null   int64
 2   Job               3981 non-null   object
 3   Marital           4000 non-null   object
 4   Education         3831 non-null   object
 5   Default           4000 non-null   int64
 6   Balance           4000 non-null   int64
 7   HHInsurance       4000 non-null   int64
 8   CarLoan           4000 non-null   int64
 9   Communication     3098 non-null   object
 10  LastContactDay    4000 non-null   int64
 11  LastContactMonth  4000 non-null   object
 12  NoOfContacts      4000 non-null   int64
 13  DaysPassed        4000 non-null   int64
 14  PrevAttempts      4000 non-null   int64
 15  Outcome           958 non-null    object
 16  CallStart         4000 non-null   object
 17  CallEnd           4000 non-null   object
 18  CarInsurance      4000 non-null   int64
dtypes: int64(11), object(8)
memory usage: 593.9+ KB

In [99]:
car_insurance_dataframe.shape

(4000, 19)

In [100]:
car_insurance_dataframe.describe()

,Id,Age,Default,Balance,HHInsurance,CarLoan,LastContactDay,NoOfContacts,DaysPassed,PrevAttempts,CarInsurance
count,4000.000000,4000.000000,4000.000000,4000.000000,4000.00000,4000.000000,4000.000000,4000.000000,4000.000000,4000.000000,4000.000000
mean,2000.500000,41.214750,0.014500,1532.937250,0.49275,0.133000,15.721250,2.607250,48.706500,0.717500,0.401000
std,1154.844867,11.550194,0.119555,3511.452489,0.50001,0.339617,8.425307,3.064204,106.685385,2.078647,0.490162
min,1.000000,18.000000,0.000000,-3058.000000,0.00000,0.000000,1.000000,1.000000,-1.000000,0.000000,0.000000
25%,1000.750000,32.000000,0.000000,111.000000,0.00000,0.000000,8.000000,1.000000,-1.000000,0.000000,0.000000
50%,2000.500000,39.000000,0.000000,551.500000,0.00000,0.000000,16.000000,2.000000,-1.000000,0.000000,0.000000
75%,3000.250000,49.000000,0.000000,1619.000000,1.00000,0.000000,22.000000,3.000000,-1.000000,0.000000,1.000000
max,4000.000000,95.000000,1.000000,98417.000000,1.00000,1.000000,31.000000,43.000000,854.000000,58.000000,1.000000

In [170]:
car_insurance_dataframe.head()

,Id,Age,Job,Marital,Education,Default,Balance,HHInsurance,CarLoan,Communication,LastContactDay,LastContactMonth,NoOfContacts,DaysPassed,PrevAttempts,Outcome,CallStart,CallEnd,CarInsurance,Call_Duration
2,3,29,management,single,tertiary,0,637,1,0,cellular,3,jun,1,119,1,failure,1900-01-01 16:30:24,1900-01-01 16:36:04,1,340.0
5,6,32,technician,single,tertiary,0,1625,0,0,cellular,22,may,1,109,1,failure,1900-01-01 14:58:08,1900-01-01 15:11:24,1,796.0
15,16,61,management,single,tertiary,0,2,0,0,cellular,12,aug,1,114,3,failure,1900-01-01 16:18:48,1900-01-01 16:20:59,1,131.0
16,17,34,admin.,single,secondary,0,69,1,0,telephone,6,may,3,362,4,other,1900-01-01 11:48:45,1900-01-01 11:50:17,0,92.0
17,18,46,management,married,tertiary,0,7331,0,0,cellular,11,sep,4,95,2,other,1900-01-01 11:23:26,1900-01-01 11:34:24,1,658.0

## Q1. Observe the name of the columns and the corresponding dtype

In [101]:
car_insurance_dataframe.dtypes

Id                   int64
Age                  int64
Job                 object
Marital             object
Education           object
Default              int64
Balance              int64
HHInsurance          int64
CarLoan              int64
Communication       object
LastContactDay       int64
LastContactMonth    object
NoOfContacts         int64
DaysPassed           int64
PrevAttempts         int64
Outcome             object
CallStart           object
CallEnd             object
CarInsurance         int64
dtype: object

##  Q2. Check how many missing values each column has

In [102]:
car_insurance_dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 0 to 3999
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Id                4000 non-null   int64
 1   Age               4000 non-null   int64
 2   Job               3981 non-null   object
 3   Marital           4000 non-null   object
 4   Education         3831 non-null   object
 5   Default           4000 non-null   int64
 6   Balance           4000 non-null   int64
 7   HHInsurance       4000 non-null   int64
 8   CarLoan           4000 non-null   int64
 9   Communication     3098 non-null   object
 10  LastContactDay    4000 non-null   int64
 11  LastContactMonth  4000 non-null   object
 12  NoOfContacts      4000 non-null   int64
 13  DaysPassed        4000 non-null   int64
 14  PrevAttempts      4000 non-null   int64
 15  Outcome           958 non-null    object
 16  CallStart         4000 non-null   object
 17  CallEnd           4000 non-null   object
 18  CarInsurance      4000 non-null   int64
dtypes: int64(11), object(8)
memory usage: 593.9+ KB

## Q3. Drop the rows containing missing values

In [103]:
car_insurance_dataframe.dropna(axis = 0, how = 'any', inplace = True)

In [104]:
car_insurance_dataframe.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 907 entries, 2 to 3998
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Id                907 non-null    int64
 1   Age               907 non-null    int64
 2   Job               907 non-null    object
 3   Marital           907 non-null    object
 4   Education         907 non-null    object
 5   Default           907 non-null    int64
 6   Balance           907 non-null    int64
 7   HHInsurance       907 non-null    int64
 8   CarLoan           907 non-null    int64
 9   Communication     907 non-null    object
 10  LastContactDay    907 non-null    int64
 11  LastContactMonth  907 non-null    object
 12  NoOfContacts      907 non-null    int64
 13  DaysPassed        907 non-null    int64
 14  PrevAttempts      907 non-null    int64
 15  Outcome           907 non-null    object
 16  CallStart         907 non-null    object
 17  CallEnd           907 non-null    object
 18  CarInsurance      907 non-null    int64
dtypes: int64(11), object(8)
memory usage: 141.7+ KB

## Q4. For the numerical values, obtain the mean, the median, and the quartiles

In [105]:
car_insurance_dataframe.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 907 entries, 2 to 3998
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Id                907 non-null    int64
 1   Age               907 non-null    int64
 2   Job               907 non-null    object
 3   Marital           907 non-null    object
 4   Education         907 non-null    object
 5   Default           907 non-null    int64
 6   Balance           907 non-null    int64
 7   HHInsurance       907 non-null    int64
 8   CarLoan           907 non-null    int64
 9   Communication     907 non-null    object
 10  LastContactDay    907 non-null    int64
 11  LastContactMonth  907 non-null    object
 12  NoOfContacts      907 non-null    int64
 13  DaysPassed        907 non-null    int64
 14  PrevAttempts      907 non-null    int64
 15  Outcome           907 non-null    object
 16  CallStart         907 non-null    object
 17  CallEnd           907 non-null    object
 18  CarInsurance      907 non-null    int64
dtypes: int64(11), object(8)
memory usage: 141.7+ KB

In [106]:
car_insurance_dataframe.describe(exclude = 'O')

,Id,Age,Default,Balance,HHInsurance,CarLoan,LastContactDay,NoOfContacts,DaysPassed,PrevAttempts,CarInsurance
count,907.000000,907.000000,907.000000,907.000000,907.000000,907.000000,907.000000,907.000000,907.000000,907.000000,907.000000
mean,2004.713341,41.261301,0.004410,1741.250276,0.509372,0.098126,14.407938,1.929438,204.815877,2.987872,0.579934
std,1121.137774,12.269017,0.066299,3273.816214,0.500188,0.297649,8.263130,1.394361,118.418023,3.375811,0.493842
min,3.000000,18.000000,0.000000,-982.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,0.000000
25%,1089.000000,33.000000,0.000000,228.000000,0.000000,0.000000,7.000000,1.000000,102.000000,1.000000,0.000000
50%,2019.000000,38.000000,0.000000,724.000000,1.000000,0.000000,14.000000,1.000000,182.000000,2.000000,1.000000
75%,2938.500000,48.000000,0.000000,1947.000000,1.000000,0.000000,20.000000,2.000000,288.000000,4.000000,1.000000
max,3999.000000,82.000000,1.000000,52587.000000,1.000000,1.000000,31.000000,12.000000,854.000000,58.000000,1.000000

## Q5. Observe the Job column. How many categories can you find? What is the most frequent?

In [107]:
car_insurance_dataframe['Job'].astype('category')
car_insurance_dataframe['Job'].unique()

array(['management', 'technician', 'admin.', 'blue-collar', 'retired',
       'entrepreneur', 'student', 'self-employed', 'services',
       'unemployed', 'housemaid'], dtype=object)

In [108]:
car_insurance_dataframe['Job'].value_counts()

management       231
technician       152
blue-collar      131
admin.           114
services          69
retired           64
unemployed        48
student           40
self-employed     27
entrepreneur      16
housemaid         15
Name: Job, dtype: int64

In [109]:

car_insurance_dataframe['Job'].value_counts().idxmax()

'management'

## Q6. Create a new column with the duration of each call in seconds

In [110]:
car_insurance_dataframe[['CallStart', 'CallEnd']].head()

   CallStart   CallEnd
2   16:30:24  16:36:04
5   14:58:08  15:11:24
15  16:18:48  16:20:59
16  11:48:45  11:50:17
17  11:23:26  11:34:24

In [111]:
car_insurance_dataframe['CallStart'] = pd.to_datetime(car_insurance_dataframe['CallStart'], format = '%H:%M:%S')
car_insurance_dataframe['CallEnd'] = pd.to_datetime(car_insurance_dataframe['CallEnd'], format = '%H:%M:%S')

In [122]:
car_insurance_dataframe['Call_Duration'] = car_insurance_dataframe['Call_Duration'].apply(lambda x: x.total_seconds())

In [123]:
car_insurance_dataframe

,Id,Age,Job,Marital,Education,Default,Balance,HHInsurance,CarLoan,Communication,LastContactDay,LastContactMonth,NoOfContacts,DaysPassed,PrevAttempts,Outcome,CallStart,CallEnd,CarInsurance,Call_Duration
2,3,29,management,single,tertiary,0,637,1,0,cellular,3,jun,1,119,1,failure,1900-01-01 16:30:24,1900-01-01 16:36:04,1,340.0
5,6,32,technician,single,tertiary,0,1625,0,0,cellular,22,may,1,109,1,failure,1900-01-01 14:58:08,1900-01-01 15:11:24,1,796.0
15,16,61,management,single,tertiary,0,2,0,0,cellular,12,aug,1,114,3,failure,1900-01-01 16:18:48,1900-01-01 16:20:59,1,131.0
16,17,34,admin.,single,secondary,0,69,1,0,telephone,6,may,3,362,4,other,1900-01-01 11:48:45,1900-01-01 11:50:17,0,92.0
17,18,46,management,married,tertiary,0,7331,0,0,cellular,11,sep,4,95,2,other,1900-01-01 11:23:26,1900-01-01 11:34:24,1,658.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3987,3988,27,admin.,married,tertiary,0,2855,0,0,cellular,25,jan,1,301,3,failure,1900-01-01 09:55:44,1900-01-01 09:59:44,1,240.0
3990,3991,27,technician,single,secondary,0,126,1,1,cellular,5,feb,2,216,4,failure,1900-01-01 13:30:49,1900-01-01 13:33:16,0,147.0
3992,3993,34,technician,married,secondary,0,0,1,0,cellular,5,aug,2,2,3,success,1900-01-01 10:51:19,1900-01-01 10:55:10,1,231.0
3995,3996,28,technician,single,tertiary,0,0,1,0,cellular,25,may,1,40,2,failure,1900-01-01 17:46:28,1900-01-01 17:50:57,1,269.0
3998,3999,36,entrepreneur,single,tertiary,0,658,1,0,cellular,29,jan,1,227,3,failure,1900-01-01 11:27:35,1900-01-01 11:29:14,0,99.0

## Q9. What is the average duration of each call?

In [127]:
car_insurance_dataframe['Call_Duration'].mean()

335.74862183020946

In [129]:
print('the average duration of the call in seconds is {:.2f}'.format(car_insurance_dataframe['Call_Duration'].mean()))

the average duration of the call in seconds is 335.75

## Q10. For those people contacted during the first half of the year (Jan-June). What is the most common way of comunication (telephone, cellular...)?

In [150]:
car_insurance_dataframe['LastContactMonth'].astype('category')

2       jun
5       may
15      aug
16      may
17      sep
       ...
3987    jan
3990    feb
3992    aug
3995    may
3998    jan
Name: LastContactMonth, Length: 907, dtype: category
Categories (12, object): ['apr', 'aug', 'dec', 'feb', ..., 'may', 'nov', 'oct', 'sep']

In [151]:
car_insurance_dataframe['LastContactMonth'].unique()

array(['jun', 'may', 'aug', 'sep', 'jul', 'feb', 'apr', 'nov', 'oct',
       'jan', 'mar', 'dec'], dtype=object)

In [152]:
months_to_check = ['jan', 'feb', 'mar','apr','may','jun']

In [156]:
mask = car_insurance_dataframe['LastContactMonth'].apply(lambda x: x in months_to_check)

In [167]:
most_common_communication_first_half_of_year = car_insurance_dataframe[mask]['Communication'].value_counts().idxmax()

In [169]:
print(f'The most common communication form for the first half of the year is {most_common_communication_first_half_of_year}')

The most common communication form for the first half of the year is cellular